# Build
build/
out/
CMakeFiles/
CMakeCache.txt
*.obj
*.pdb
*.ilk
*.lib
*.exp
*.exe
*.dll
*.sln
*.vcxproj*
.ipch/
*.user
*.opensdf
*.sdf
*.db
*.opendb

# Qt
*.qrc.dep
*.moc
*.rcc
*.qtdir
*.qm

# VS Code
.vscode/
.cmake/

# Logs
*.log

# Others
*.DS_Store
